<div class="container">
    <div class="card mt-4 mb-4 rounded-lg bg-light">
        <div class="card-body">
            <h1 class="mb-4 text-info">Add Post</h1>
            <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm.value)" ngNativeValidate>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" ngModel required>
                </div>
                <br>
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <input type="text" name="categories" id="categories" class="form-control" ngModel required>
                </div>
                <br>
                <div class="form-group">
                    <label for="description">Content</label>
                    <textarea name="description" id="description" class="form-control" ngModel required></textarea>
                </div>
                <br>
                <br>
                
                <button class="btn btn-outline-primary" style="margin-right: 10px">Save</button>
                <button class="btn btn-outline-secondary" routerLink='/home'>Cancel</button>
            </form>
        </div>
    </div>
</div>

